<!-- FOOTER -->
<footer class="footer">
  <div class="container">
    <p class="text-center text-muted">A blog running on the <a href="http://sailsjs.org/" title="View the Sails Website">Sails.js</a> framework at version 0.12.1. Built with <a href="https://jquery.com/" title="View the jQuery Website">jQuery</a> and <a href="http://getbootstrap.com/" title="View the Bootstrap Website">Bootstrap</a>.</p>
  </div>
</footer>