<!-- PAGE NAVIGATION -->
<%- partial('./partials/navigation.ejs', { type: 'home' })%>

<%- partial('./partials/extras.ejs') %>

<!-- PAGE CONTENT -->
<div class="container">

  <div class="starter-template">
    <h1>Sails / jQuery / Bootstrap Blog</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>

</div><!-- /.container -->